
@{
    ViewData["Title"] = "Administration";

}

<h1>
    Hello Rahul!
</h1>

<a asp-action="ProductAddEditPage" asp-controller="Product"><input class="btn btn-primary" type="button" value="Add product" /> </a>

<a asp-action="DeleteFromAdminPage" asp-controller="Product" ><input class="btn btn-danger" formmethod="post" type="button" value="Delete product" /> </a>


