<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="AmazonFinds-India">
    <meta name="description" content="">
    <meta property="og:description" content="Find worthy products from all over the internet. AmazonFinds India is a website which has curated products just for your needs." />
    
    @*
        Meta Tags for FaceBook
    *@
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://shubhamcss-001-site1.atempurl.com/">
    <meta property="og:title" content="AmazonFinds-India">
    <meta property="og:description" content="Find worthy products from all over the internet. AmazonFinds India is a website which has curated products just for your needs." >
    <meta property="og:image" content="https://www.freepik.com/free-vector/add-cart-concept-illustration_8961408.htm#query=amazon&position=4&from_view=search">
  
  <title>@ViewData["Title"] - AmazonFinds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index">AmazonFinds</a>
               @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Admin">Admin</a>
                        </li>
                    </ul>
                </div>
*@            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AmazonFinds - <span > Made with ❤️ in India</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/784e08887f.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
